<h1>Try it free</h1>

<% if @account.errors.any? %>
  <div class="error-list">
    <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

    <ul>
    <% @account.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@account) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Company Name", class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control js-company-name', placeholder: 'Acme Inc', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :plan_id, "Plan", class: 'control-label' %>
    <%= f.select(:plan_id, @plans.collect {|p| [p.name, p.id]}) %>
  </div>

  <%= f.fields_for(:memberships) do |m| %>
    <%= m.fields_for(:user) do |u| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= u.label :first_name, class: 'control-label' %>
            <%= u.text_field :first_name, class: 'form-control', placeholder: 'Mary', required: true %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= u.label :last_name, class: 'control-label' %>
            <%= u.text_field :last_name, class: 'form-control', placeholder: 'Smith', required: true %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= u.label :email, class: 'control-label' %>
        <%= u.email_field :email, class: 'form-control', placeholder: 'mary@example.com', required: true %>
      </div>
      <div class="form-group">
        <%= u.label :password, class: 'control-label' %>
        <%= u.password_field :password, class: 'form-control', placeholder: 'Easy to remember', required: true %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.submit 'Start my trial', class: 'btn btn-primary' %>
  </div>
<% end %>

<hr />

<div>Or sign up with your Google account:</div>

<%= form_for(@account, url: user_google_oauth2_omniauth_authorize_path, html: { id: 'new_account_google' }, method: :get) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Company Name", class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control js-company-name', placeholder: 'Acme Inc', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :plan_id, "Plan", class: 'control-label' %>
    <%= f.select(:plan_id, @plans.collect {|p| [p.name, p.id]}) %>
  </div>

  <div class="form-group">
    <%= f.submit 'Sign in with Google', class: 'btn-google-signin' %>
    <%= hidden_field_tag 'from', 'sign_up' %>
  </div>
<% end %>