<h1>User Memberships</h1>
<ul>
  <% @memberships.each do |m| %>
    <li>
      <%= m.role %>: <%= m.user.name %>
      <%= link_to 'Edit', edit_account_membership_path(current_account, m) %> | 
      <%= link_to 'Delete', account_membership_path(current_account, m), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= form_tag(account_memberships_path(@current_account), method: :create) do %>
  <div class="form-group">
    <%= text_area_tag :email_addresses, nil, rows: 10, class: 'form-control', placeholder: 'user@example.com', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag :role_id, "Role", class: 'control-label' %>
    <%= select_tag :role_id, options_for_select(@roles.collect {|r| [r[:name], r[:id]]}) %>
  </div>

  <div class="form-group">
    <%= submit_tag 'Invite users', class: 'btn btn-primary' %>
  </div>
<% end %>
