<h1>Accounts::BillingInfo#show</h1>
<p>Find me in app/views/landlord/accounts/billing_info/show.html.erb</p>

<%= form_for(@billing_info, url:account_billing_info_path) do |f| %>
  <div class="form-group">
    <%= f.label :address, "Address to display on receipts" %>
    <%= f.text_area :address %>
  </div>
  <div class="form-group">
    <%= f.label :cc_emails, "Also send receipts to these email addresses" %>
    <%= f.text_field :cc_emails %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save changes', class: 'btn btn-primary' %>
  </div>
<% end %>