<!DOCTYPE html>
<html>
<head>
  <title>Landlord</title>
  <%= stylesheet_link_tag    "landlord/application", media: "all" %>
  <%= javascript_include_tag "landlord/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <p><%= current_user.email %> | <%= link_to('Sign out', destroy_user_session_path) %></p>
<% else %>
  <p><%= link_to('Sign in', destroy_user_session_path) %></p>
  <p><%= link_to('Try it free', new_account_path) %></p>
<% end %>

<hr />

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
