<h1>Edit User</h1>

<%= form_tag account_user_path(@current_account, @membership.user), method: :patch do %>
  <p><%= @membership.user.name %></p>

  <div class="form-group">
    <%= label_tag :role_id, "Role", class: 'control-label' %>
    <%= select_tag :role_id, options_for_select(@roles.collect {|r| [r[:name], r[:id]]}, @membership.role) %>
  </div>

  <div class="form-group">
    <%= submit_tag 'Update user', class: 'btn btn-primary' %>
  </div>
<% end %>